<form method="post" action="{{ path('championnatController_app_championnat_delete', {'id': championnat.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ championnat.id) }}">
    <button class="btn">Supprimer le championnat</button>
</form>
