{% extends 'base.html.twig' %}

{% block title %}Edit Championnat{% endblock %}

{% block body %}
    <h1>Edit Championnat</h1>

    {{ include('championnat/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('championnatController_app_championnat_index') }}">back to list</a>

    {{ include('championnat/_delete_form.html.twig') }}
{% endblock %}
