{% extends 'base.html.twig' %}

{% block title %}New Championnat{% endblock %}

{% block body %}
    <h1>Create new Championnat</h1>

    {{ include('championnat/_form.html.twig') }}

    <a href="{{ path('championnatController_app_championnat_index') }}">back to list</a>
{% endblock %}
