{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}





{% block body %}
    <main class="container">
        <section class="row">
            <div class="col-12">
                <h1>Your Mountakhab !</h1>
                <p>Page d'accueil</p>
            </div>
            {% for championnat in championnat%}
                <div class="col-12">
                    
                    <a class="nav-link" href="{{ path('ficheChampionnat_fiche', {id: championnat.id}) }}"> {{ championnat.name }} </a>

                </div>
            {% endfor %}

            
        </section>
    </main>
    
{% endblock %}


