<form method="post" action="{{ path('equipeController_app_equipe_delete', {'id': equipe.id}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer cette équipe ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipe.id) }}">
    <button class="btn">Supprimer</button>
</form>
